<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container" style="background-color: #999; padding-right: 300px;padding-left:300px; padding-top: 100px; padding-bottom: 50px">
        <div class="" style="width: 500px; margin: auto; background-color: #fff;">
            <div class="row" style="color: #fff">
                <div class="col-12" style="background-color:darkcyan;padding: 10px">
                    <h2 class="text-white">WoW SupperMarket Pavers Inquiry</h2>
                </div>
            </div>
            <div class="row bg-white" style="background-color: #fff;">
                <div class="col-12 text-center" style="padding: 10px">
                    <h2 class="" style="padding-left: 20px">A New Inquiry has been submited</h2>
                    <div class="row">
                        <p class="pl-3">Customer Details:</p>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <p>Name: {0}</p>
                            <p>Email: {1}</p>
                            <p>Phone Number: {2}</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 text-left">
                            <p class="pl-4">Products Intereseted:</p>
                            <p style="padding-left: 10px;">{3}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12" style="background-color:darkcyan;padding: 10px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>