@model IEnumerable<New_Ston_Request.Models.ApplicationType>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">

    <div class="row">
        <div class="col-6 text-primary">
            <h2>Application Type List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ApplicationType" asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp; Add New Application Type</a>
        </div>
    </div>
    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appl in Model)
                {
                    <tr>
                        <td width="80%">@appl.Name</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="ApplicationType" asp-route-id="@appl.Id" asp-action="Edit" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                                <a asp-controller="ApplicationType" asp-route-id="@appl.Id" asp-action="Delete" class="btn btn-danger mx-2"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Application Type is exist!</p>
    }

</div>
